//File:circle.rc//

IDD_CIRCLEEDITOR DIALOG 0, 270, 528, 59
STYLE 0x404L | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 RTEXT "&Radius:", -1, 11, 13, 27, 8
 EDITTEXT IDC_RADIUS, 39, 11, 22, 12, WS_BORDER | WS_TABSTOP
 RTEXT "&Diameter:", -1, 74, 13, 32, 8
 EDITTEXT IDC_DIAMETER, 108, 11, 22, 12, WS_BORDER | WS_TABSTOP
 RTEXT "&Thickness:", -1, 147, 13, 39, 8
 EDITTEXT IDC_THICKNESS, 188, 11, 22, 12, WS_BORDER | WS_TABSTOP
 RTEXT "&x:", -1, 6, 31, 12, 8
 EDITTEXT IDC_CENTERX, 20, 29, 22, 12, WS_BORDER | WS_TABSTOP
 RTEXT "&y:", -1, 6, 43, 12, 8
 EDITTEXT IDC_CENTERY, 20, 41, 22, 12, WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "&Update", IDOK, 474, 8, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Close", IDCANCEL, 474, 24, 50, 14, WS_TABSTOP
 PUSHBUTTON "Delete", IDC_DELETE, 474, 40, 50, 14, WS_TABSTOP
 GROUPBOX "Circle", 65535, 0, 0, 528, 58, BS_GROUPBOX
}
