//File:ctext.rc//

IDD_CTEXTEDITOR DIALOG 0, 270, 528, 59
STYLE 0x404L | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Text on circle", 65535, 0, 0, 528, 58, BS_GROUPBOX
 EDITTEXT IDC_TEXT, 5,11,353,11, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 COMBOBOX IDC_FONT, 5,24,85,47, CBS_AUTOHSCROLL | CBS_SORT | CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
 CONTROL "User Control", IDC_STYLE, "StampTextStyleWnd", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96,26,32,11
 LTEXT "&Size:", 65535, 129,26,16,11, SS_LEFT
 EDITTEXT IDC_SIZEMM, 147,26,22,12, WS_BORDER | WS_TABSTOP
 LTEXT "mm", 65535, 171,26,13,12, SS_LEFT
 EDITTEXT IDC_SIZEPT, 184,26,22,12, WS_BORDER | WS_TABSTOP
 LTEXT "pt", 65535, 207,26,11,13, SS_LEFT
 AUTOCHECKBOX "&Thickness:", IDC_THICKNESSCHECK, 217,26,45,10, BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP
 EDITTEXT IDC_THICKNESS, 267,25,22,11, WS_BORDER | WS_TABSTOP
 AUTOCHECKBOX "Up/down", IDC_UPDOWN, 304, 25, 60, 12
 RTEXT "&x:", 65535, 5,42,8,12, SS_LEFT
 EDITTEXT IDC_CENTERX, 14,41,22,11, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 RTEXT "&y:", 65535, 39,42,7,11, SS_LEFT
 EDITTEXT IDC_CENTERY, 47,41,23,11, WS_BORDER | WS_TABSTOP
 RTEXT "&Angle:", 65535, 73,42,22,8, SS_LEFT
 EDITTEXT IDC_ANGLE, 98,41,22,11, WS_BORDER | WS_TABSTOP
 RTEXT "&Radius:", 65535, 126, 42, 24, 8
 EDITTEXT IDC_RADIUS, 152, 41, 22, 11, WS_BORDER | WS_TABSTOP
 CONTROL "User Control", IDC_ALIGN, "StampTextAlignWnd", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 182, 41, 47, 11
 RTEXT "S&pacing:", 65535, 226, 44, 31, 8, SS_LEFT
 EDITTEXT IDC_SPACING, 260, 42, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "mm", 65535, 285, 44, 13, 8, SS_LEFT
 RTEXT "&Width:", 65535, 297, 44, 23, 8, SS_LEFT
 EDITTEXT IDC_WIDTH, 321, 42, 23, 12, WS_BORDER | WS_TABSTOP
 LTEXT "angles", 65535, 346, 44, 18, 9
 DEFPUSHBUTTON "&Update", IDOK, 474, 8, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Close", IDCANCEL, 474, 24, 50, 14, WS_TABSTOP
 PUSHBUTTON "Delete", IDC_DELETE, 474, 40, 50, 14, WS_TABSTOP
}
