//File:line.rc//

IDD_LINEEDITOR DIALOG 0, 270, 528, 59
STYLE 0x404L | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 LTEXT "x&1:", -1, 10, 17, 12, 8
 EDITTEXT IDC_CRDX1, 21, 15, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "y&1:", -1, 71, 17, 12, 8
 EDITTEXT IDC_CRDY1, 83, 15, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "x&2:", -1, 10, 33, 12, 8
 EDITTEXT IDC_CRDX2, 21, 31, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "y&2:", -1, 71, 33, 12, 8
 EDITTEXT IDC_CRDY2, 83, 31, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&Thickness:", -1, 126, 17, 39, 8
 EDITTEXT IDC_THICKNESS, 164, 15, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&Style:", -1, 144, 33, 21, 8
 EDITTEXT IDC_STYLE, 164, 31, 22, 12, WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "&Update", IDOK, 474, 8, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Close", IDCANCEL, 474, 24, 50, 14, WS_TABSTOP
 PUSHBUTTON "Delete", IDC_DELETE, 474, 40, 50, 14, WS_TABSTOP
 GROUPBOX "Line", 65535, 0, 0, 528, 58, 0
}
