//File:picbmp.rc//

IDD_PICBITMAPEDITOR DIALOG 0, 270, 528, 59
STYLE 0x404L | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 LTEXT "&Radius:", -1, 10, 14, 24, 8
 EDITTEXT IDC_RADIUS, 36, 12, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&x:", -1, 74, 14, 7, 8
 EDITTEXT IDC_CENTERX, 81, 12, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&y:", -1, 113, 14, 7, 8
 EDITTEXT IDC_CENTERY, 121, 12, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "File &name:", -1, 11, 39, 34, 8
 EDITTEXT IDC_PATH, 46, 37, 152, 12, ES_READONLY | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "&Change", IDC_CHANGE, 202, 36, 50, 14
 DEFPUSHBUTTON "&Update", IDOK, 474, 8, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Close", IDCANCEL, 474, 24, 50, 14, WS_TABSTOP
 PUSHBUTTON "Delete", IDC_DELETE, 474, 40, 50, 14, WS_TABSTOP
 GROUPBOX "Picture (BITMAP)", 65535, 0, 0, 528, 58, 0
}
