//File:triangle.rc//

IDD_TRIANGLEEDITOR DIALOG 0, 270, 528, 59
STYLE 0x404L | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 LTEXT "&x:", -1, 10, 15, 6, 8
 EDITTEXT IDC_CENTERX, 17, 12, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&y:", -1, 9, 28, 7, 8
 EDITTEXT IDC_CENTERY, 17, 25, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&Thickness:", -1, 9, 43, 35, 8
 EDITTEXT IDC_THICKNESS, 46, 41, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&Out radius:", -1, 79, 15, 36, 8
 EDITTEXT IDC_ORADIUS, 115, 12, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&In radius:", -1, 84, 27, 31, 8
 EDITTEXT IDC_IRADIUS, 115, 25, 22, 12, WS_BORDER | WS_TABSTOP
 LTEXT "&Side length:", -1, 76, 40, 40, 8
 EDITTEXT IDC_SIDELENGTH, 115, 38, 22, 12, WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "&Update", IDOK, 474, 8, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Close", IDCANCEL, 474, 24, 50, 14, WS_TABSTOP
 PUSHBUTTON "Delete", IDC_DELETE, 474, 40, 50, 14, WS_TABSTOP
 GROUPBOX "Triangle", 65535, 0, 0, 528, 58, 0
}
